{% load static %}
<!-- ===== FOOTER (same on every page) ===== -->
    <footer class="footer">
        <div class="container">
            <div class="footer-shell">
                <div class="footer-brand">
                    <h2 class="footer-title"><img src="{% static 'front/assets/logo-white.png' %}" alt="Elyria Matchmaking" class="footer-logo"></h2>
                </div>
                <div class="footer-links-wrap">
                    <div class="footer-links-group">
                        <span class="footer-label">Contact</span>
                        <span class="footer-meta"> Business address — Lusaka Zambia</span>
                         <a href="tel:+260779127695" class="footer-link">+260 779 127 695</a>
                        <a href="mailto:info@elyriamatchmaking.com" class="footer-link">info@elyriamatchmaking.com</a>
                    </div>
                    <div class="footer-links-group">
                        <span class="footer-label">More</span>
                        <a href="{% url 'website:events' %}" class="footer-link">Events</a>
                        <a href="{% url 'website:faq' %}" class="footer-link">FAQ</a>
                        <a href="{% url 'website:privacy' %}" class="footer-link">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <span class="footer-meta">&copy; 2026 Elyria Matchmaking Limited. All rights reserved.</span>
            </div>
        </div>
    </footer>